
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center; /* centraliza vertical */
        align-items: center;     /* centraliza horizontal */
        font-family: Arial, Helvetica, sans-serif;
        background-color: #7b272781;
        color: #000000; /* nova cor da fonte */
    }

    img {
    transition: transform 0.3s ease;
    border: 5px groove rgb(163, 68, 68);
}

img:hover {
    transform: rotate(400deg) scale(1);
}
