
    body {
        font-family: Arial, Helvetica, sans-serif, sans-serif;
        text-align: center;
        margin-top: 100px;
        background-color: #ffffff;
    }

    .botaosim {
        background: linear-gradient(45deg, #176f5c, #033108);
        color: white;
        border: none;
        padding: 50px 90px;
        font-size: 40px;
        border-radius: 64px;
        cursor: default;
        transition: 0.3s ease;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .botaonao {
        background: linear-gradient(45deg, #6f1717, #310303);
        color: white;
        border: none;
        padding: 50px 90px;
        font-size: 40px;
        border-radius: 64px;
        cursor: not-allowed;
        transition: 0.3s ease;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    }

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(131, 27, 27, 0.3);
    }

    button:active {
        transform: scale(0.95);
    }
